body {
   background: none repeat scroll 0% 0% rgb(250,250,250);
   margin-top: 0;
}
.heading {
    color: gray;

    text-align: right;
    padding: 0.1em 0.1em;
    margin-bottom: 0.5em;
    border: 1px solid gray;
}
.heading a{
}
.heading a:visited{
}
.panel {
    background: none repeat scroll 0% 0% white;
    box-shadow: 1px 1px 0.4em rgba(0, 0, 0, 0.2);
    padding: 0.5em;
    margin: 0.5em;
}
.panel h2 {
    font-size: 120%;
    font-weight: bold;
    margin: 0; padding:0;
    color: gray;
}
.panel h3 {
    font-size: 100%;
    margin: 0; padding:0;
}
.warning-background {
    background-color: rgb(255,240,240);
}
.text-io {
    font-size: 70%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
.rle-box {
    font-size: 70%;
    background-color: rgb(249, 249, 249);
    max-width: 20em;
    word-wrap: break-word;
    overflow-y: auto;
}

.library-table {
    border-collapse:collapse;
}

.library-table,
.library-table td,
.library-table th{
    border: 1px solid rgb(230,230,230);
}
.library-table th{
    background-color: rgb(249, 249, 249);
}
.library-table th{
    padding: 0.5em 0.8em;
}

#time {
    display:inline-block;
    min-width:6em;
    text-align:right;
    background-color:white;
}
#vacuum-phase {
    display:inline-block;
    min-width:2em;
    text-align:right;
    background-color:white;
}

.pattern-background{
    min-width: 3em;
    min-height: 2em;
    text-align:center;
    background-color: rgb(220,220,220);
    padding: 1em 1em;
    overflow:hidden;
}
.lib-pattern-background{
    padding: 0.2em 0.2em;
    text-align:center;
    background-color: rgb(220,220,220);
    padding: 0.2em 0.2em;
}
/******************** Toolbars ********************/
.toolbar {
    margin-bottom: 0.3em;
}
.toolbar button{
    width: 2.5em;
}
.toolbar a{
    min-width: 2em;
}
.separator {
    margin-left: 0.5em;
}

.vertical-toolbar{
    width: 2.5em;
    float:left;
    margin-right: 0.25em;
}

.vertical-toolbar button{
    width: 100%;
}
.vertical-toolbar a{
    width: 2em;
    overflow:hidden;
}

.popup-container{
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    z-index: 3;
    left: 0;
    top: 0;
}
.popup-container > div{
    padding: 1em;
    background-color: white;
    width: 20em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}

/*********************Transformation table********************/
.func_pair {
    border-radius:6px;
    border:1px solid #dcdcdc;
    display: inline-block;
    background-color: rgb(249, 249, 239);
    padding: 0.2em 0.2em;
}
.func_row {
}
#function_display{
    padding: 0.2em 0.2em;
    margin-left: 1em;
}
/*********************Top-level layout********************/
#cells-widget {
    overflow: auto;
    float:left;
    max-height: 40em;
    max-width: 80em;
    border: 0.2em solid gray;
}
#generation-status-bar {
    clear:left;
}

#feature-pane{
    clear:left;
    margin-bottom: -0.5em;
    background-color: rgb(135, 135, 128);
}

#main-window {
    float: left;
    min-height: 12em;
}

#current-pattern-pane {
    float: left;
    width: 18em;
}

#gif-recorder-pane{
    min-height: 9em;
}
#buffer-rle-block{
    overflow:hidden;
}

/*********************** sizes of input fields **********/
#catcher-reseed-period, #analysys-max-steps{
    width: 5em;
}
#catcher-max-spaceship-size{
    width: 3em;
}
.rule-input {
    width: 16em;
}
#list-existing-libraries {
    width: 20em;
}
/*********************** Buttons **********/
.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:arial;
	font-weight:bold;
	padding: 0.1em 0.1em;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	text-align: center;
}.button:hover {
	background-color:#e9e9e9;
}.button:active {
	position:relative;
	top:1px;
}
.btn-selected {
    background-color: #79bbff !important;
    border-color:#469df5 !important;
    -moz-box-shadow:inset 0px 1px 0px 0px #AFD6FF;
    -webkit-box-shadow:inset 0px 1px 0px 0px #AFD6FF;
    box-shadow:inset 0px 1px 0px 0px #AFD6FF;
    text-shadow:1px 1px 0px #AFD6FF;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
   
/********************Help page text styles********************/

article{
    background-color: white;
    max-width: 60em;
    text-align:justify;
    margin-left: 3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.formula{
    text-align: center;
    font-size: 120%;
}
dt{
    font-weight: bold;
}
figure{
    text-align: center;
}

figure img{
    padding: 0.5em 0.8em;
    box-shadow: 1px 1px 0.4em rgba(0, 0, 0, 0.3);
    background-color: white;
}
figcaption{
    font-size: 83%;
}

blockquote {
    border: 1px solid rgb(170, 170, 170);
    background-color: rgb(249, 249, 249);
    padding: 1em;
}
blockquote .quote-title{
    float: right;
    color: gray;
    font-size: 200%;
}
.rule {
    background-color: #fafaff;
    color: #110;
    letter-spacing:-1px;
}
/********************/
figure table{
    border-collapse:collapse;
    margin-left: auto;
    margin-right: auto;
}
figure table,
figure td,
figure th{
    border: 1px solid rgb(170, 170, 170);
}

figure th{
    background-color: rgb(249, 249, 249);
}
figure td, figure th{
    padding: 0.5em 0.8em;
}

figure td{
    text-align: left;
}